*.iml
.idea
*.log
logs
.settings
.classpath
.project
environment.properties
log4j.properties
target
/web/*
data
temp
FitnesseRoot
testdb*
.vertx/*
*~
bower_components/
dam/src/main/resources/web/node_modules/
node_modules/
a.txt
dependency-reduced-pom.xml

